header
    ul
        a(href="/")
            li HOME
        a(href="/error")
            li ERROR
    a(href="/" class="burger")
        img(src="/images/burger.png", alt="burgermenu", class="burger")