extends layout

block content
  h1= title
  p= message
  form#uploadForm(ref='uploadForm' action='/upload' method='post' enctype='multipart/form-data')
    input(type='file' name='uploadedFile')
    input(type='submit' value='Upload!')