extends layout

block content
  h1= title
  p= message
  div.container
    form#uploadForm.item(action='/upload' method='post' enctype='multipart/form-data')
      p Please select only CSV or TXT files.
      input(type='file' name='uploadedFile' accept="text/csv,text/plain")
      br
      input(type='submit' value='Upload!')