extends layout

block content
  h1= title
  p= message
  h2 This is the first row of your File:
  p= file
  form#nnfpForm(ref='nnfpForm' action='/nnfp' method='post' enctype='multipart/form-data')
    | How many INPUT Fields does your File have?
    input(type='number' name='input' min='1' id="input" required)
    br
    | How many OUTPUT Fields does your File have?
    input(type='number' name='output' min='1' id="output" required)
    br
    br
    | Choose the net:
    br
    br
    input(type='radio' name='neuralnet' value='ff' id="ff" required)
    | Feed Forward
    br
    input(type='radio' name='neuralnet' value='rnn' id="rnn" required)
    | RNN
    br
    br
    input(type='submit' value='test it!')